body {
 background-color: #2B2B2B;
 font-family: "Archivo Black", sans-serif;
 width: 100%;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.your-div {
    background: linear-gradient(to bottom, #FDF1DC 0%, #861C1C 7%, #2B2B2B 50%, #861C1C 93%, #FDF1DC 100%);
}